{
	"overrides":
	[
		{
			"extends": ["./scripts/eslintrc.esm.js"],
			"files": ["./src/**/*.ts", "./test/**/*.js"]
		},
		{
			"extends": ["./scripts/eslintrc.cjs.js"],
			"files": ["./scripts/**/*.js"]
		}
	],
	"root": true
}
